
<footer class="site-footer wrapper">
    <div class="site-footer__content">
        <small>
            <p>
                Copyright &copy; {{ now.Format "2006"}} Gameful Software Ltd, registered in England &amp; Wales<br>
                9 Lawrie Avenue, Ramsbottom, Greater Manchester, BL0 9NW<br>
                Company Number: 15106597
            </p>
            <p>
                Email: <a href="mailto:hello@gameful.dev">hello@gameful.dev</a><br>
                Phone: <a href="tel:00447530235816">+44 7530 235 816</a>
            </p>
        </small>
    </div>
</footer>

<script src="/js/menu.js"></script>
</html>
