<header class="header">
    <div class="header__content">
        <div class="header__branding">
            <a href="/">
                <img src="/img/circle-gameful.svg" class="header__logo" alt="Gameful Developments">
            </a>
        </div>
        <nav class="header__nav">
            <!--
            {{ range .Site.Menus.main }}
                <a class="header__nav-link" href="{{ .URL }}">
                {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
                </a>
            {{ end }}
            -->

            {{ $current := . }}
            {{ range .Site.Menus.main }}
                {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
                {{ $active = or $active (eq .Name $current.Title) }}
                {{ $active = or $active (and (eq .Name "News") (eq $current.Section "news")) }}
                {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
                <a class="header__nav-link" href="{{ .URL }}" class="{{ if $active }}active{{ end }}">{{ .Name }}</a>
            {{ end }}
        </nav>
        <aside class="header__social">
            {{ range .Site.Menus.social }}
                {{ $text := print .Name | safeHTML }}
                <a 
                    title="{{ $text }}"
                    class="header__social-link" 
                    href="{{ .URL }}">
                {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                {{ end }}
                </a>
            {{ end }}
        </aside>
    </div>
</header>