<header class="header">
    <div class="header__content">
        <div class="header__branding">
            <a href="/">
                <img src="/img/circle-gameful.svg" class="header__logo" alt="Gameful Developments">
            </a>
        </div>
        <nav id="main-menu" class="header__nav">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
                {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                {{ $active = or $active (eq .Name $current.Title) }}
                {{ $active = or $active (and (eq .Name "Projects") (eq $current.Section "projects")) }}
                {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
                <a class="header__nav-link {{ if $active }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </nav>
        <button id="mobile-menu-button" class="header__menu-button">
            <i class="open" data-feather="menu"></i>
            <i class="close" data-feather="x"></i>
        </button>
        <aside class="header__social">
            {{ range .Site.Menus.social }}
                {{ $text := print .Name | safeHTML }}
                <a 
                    title="{{ $text }}"
                    class="header__social-link" 
                    href="{{ .URL }}">
                {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                {{ end }}
                </a>
            {{ end }}
        </aside>
    </div>
</header>