{{ partial "head.html" . }}

<div class="homepage-navigation">
    {{ partial "header.html" . }}
</div>

<a href="https://store.steampowered.com/app/2265750?utm=gameful" target="_blank" class="hero">
    <video class="hero__video" src="/videos/hero/tonalities-hero.webm" autoplay loop></video>
    <span class="hero__cta">Play Tonalities now!</span>
</a>

<div class="wrapper homepage">
    <hr>
    <div class="content">
        {{ .Content }}
    </div>
    <hr>
</div>
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}